{% extends "base.html" %}

{% block content %}
<div id="main">
    <article class="post">
        <div class="primary">
            {% for object in object_list %}
                <h2><a href={% url "article-detail" pk=object.pk %}>{{ object.title }}</a></h2>
                <p class="post-info"><span>Filed under</span> <a href="index.html">templates</a>, <a href="index.html">internet</a></p>
                <p>{{ object.content|truncatewords_html:50 }}</p>
                <p><a class="more" href="">continue reading &raquo;</a></p>
        </div>
        <aside>
            <p class="dateinfo">{{ object.createtime|date:"M" }}<span>{{ object.createtime|date:"d" }}</span></p>

            <div class="post-meta">
                <h4>文章信息</h4>
                <ul>
                    <li class="user"><a href="#">{{ object.author }}</a></li>
                    <li class="time"><a href="javascript:;">{{ object.createtime|date:"H:i a" }}</a></li>
                    <li class="comment"><a href="#">{{ object.comment.all|length }} comments</a></li>
                </ul>
            </div>

        </aside>
        {% endfor %}
    </article>
    {% if object_list %}
        {% if is_paginated %}
            <ul class="pager">
                {% if page_obj.has_previous %}
                    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">&larr; Older</a></li>
                {% else %}
                    <li class="previous disabled"><a>&larr; Older</a></li>

                {% endif %}

                <li class="disabled"><a>Page&nbsp;{{ page_obj.number }} &nbsp;of &nbsp;{{ page_obj.paginator.num_pages }}</a></li>

                {% if page_obj.has_next %}
                    <li class="next"><a href="?page={{ page_obj.next_page_number }}">Newer &rarr;</a></li>
                {% else %}
                    <li class="next disabled"><a>Newer &rarr;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        暂无数据.
    {% endif %}
</div>
{% endblock %}