{% extends "base.html" %}

{% load markup %}
{% block content %}
<!-- main -->
        <div id="main">
   <!-- post -->
      	    <article class="post single">

                <!-- primary -->
         	    <div class="primary">

            	    <h2><a href="javascript:;">{{ object.title }}</a></h2>

                    <p class="post-info"><span>分类</span> <a href="javascript:;">{{ object.classify.title }}</a></p>

{#                    <div class="image-section">#}
{#              		    <img src="{{ STATIC_URL }}images/img-post.jpg" alt="image post" height="206" width="498"/>#}
{#         	        </div>#}

				    {{ object.content|markdown }}

                <!-- /primary -->
                </div>


            <aside>

            	<p class="dateinfo">JAN<span>31</span></p>

                <div class="post-meta">
               	    <h4>文章信息</h4>
                    <ul>
                    <li class="user"><a href="#">{{ object.author }}</a></li>
                    <li class="time"><a href="javascript:;">{{ object.createtime|date:"H:i a" }}</a></li>
                    <li class="comment"><a href="#">{{ object.comment.all|length }} comments</a></li>
                </ul>
                </div>



            </aside>

        <!-- /post -->
        </article>
    </div>
{% endblock %}

