{% extends "base.html" %}

{% load markup %}
{% block content %}
<!-- main -->
<div id="main">
   <!-- post -->
    <article class="post single">
        <!-- primary -->
        <div class="primary">
            <h2><a href="javascript:;">{{ object.title }}</a></h2>
            <p class="post-info"><span>分类</span> <a href="javascript:;">{{ object.classify.title }}</a></p>
            {{ object.content|markdown }}
        </div>
        <!-- /primary -->
        <aside>
            <p class="dateinfo">JAN<span>31</span></p>
            <div class="post-meta">
                <h4>文章信息</h4>
                <ul>
                <li class="user"><a href="#">{{ object.author }}</a></li>
                <li class="time"><a href="javascript:;">{{ object.createtime|date:"H:i a" }}</a></li>
            </ul>
            </div>
        </aside>
    </article>
    <!-- /post -->
 </div>
    
{% endblock %}

