{% extends "base.html" %}

{% block content %}
    <!-- main -->
<div id="main">
  {% for object in object_list %}
    <article class="post">
        <div class="primary">
                <h2><a href='/blog/article/detail/{{ object.pk }}/'>{{ object.title }}</a></h2>
                <p class="post-info"><span>标签：</span> <a href="javascript:;">{{ object.classify.title }}</a></p>
                <p>{{ object.content|truncatewords_html:50 }}</p>
                <p><a class="more" href='/blog/article/detail/{{ object.pk }}/'>continue reading &raquo;</a></p>
        </div>
        <aside>
            <p class="dateinfo">{{ object.createtime|date:"M" }}<span>{{ object.createtime|date:"d" }}</span></p>

            <div class="post-meta">
                <h4>文章信息</h4>
                <ul>
                    <li class="user"><a href="#">{{ object.author }}</a></li>
                    <li class="time"><a href="javascript:;">{{ object.createtime|date:"H:i a" }}</a></li>
                </ul>
            </div>

        </aside>
    </article>
  {% endfor %}
     {% if object_list %}
        {% if is_paginated %}
            <div class="navigation clearfix">
            {% if page_obj.has_previous %}
                <div><a href="?page={{ page_obj.previous_page_number }}" >&laquo; Older</a></div>
            {% endif %}
            {% if page_obj.has_next %}
                <div><a href="?page={{ page_obj.next_page_number }}" >Newer &raquo; </a></div>
            {% endif %}
			</div>
        {% endif %}
     {% else %}
        暂无数据.
     {% endif %}
</div>
{% endblock %}