<div class="post-bottom-section">
    <h4>评论</h4>
    <div class="primary">
        <form action="/blog/article/comments/" method="post" id="commentform">
            <div>
                <label for="email">邮箱<span>*</span></label>
                <input id="email" name="email" value="" type="text" tabindex="2" />
            </div>
            <div>
                <label for="website">验证码</label>
                <input type="hidden" name="captcha_0" id="id_captcha_0" /> 
                <input type="text" name="captcha_1" id="id_captcha_1" value="{{ form.captcha_1.value }}">
                <img src="" alt="captcha" class="captcha" id='image_url' value="{{ form.captcha.value }}" style="display: none;"/> 
                <span id="get_code">获取验证码</span>
            </div>
            <div>
                <label for="message">内容<span>*</span></label>
                <textarea id="message" name="content" rows="10" cols="18" tabindex="4" value="{{ form.content.value }}"></textarea>
            </div>
            <div class="no-border">
                <input class="button" type="submit" value="Submit Comment" tabindex="5" />
            </div>

       </form>
    </div>
</div>