<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="baidu-site-verification" content="pLxsqv7i3d" />

    <title>Obadiah</title>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/coolblue.css" />
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
    {% block css %}
    {% endblock %}

    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/scrollToTop.js"></script>
    <script src="{{ STATIC_URL }}js/lightbox-2.6.min.js"></script>
    <script src="{{ STATIC_URL }}js/modernizr.custom.js"></script>
</head>

<body id="top">

<!--header -->
<div id="header-wrap"><header>

 	<hgroup>
        <h1>Obadiah</h1>
        <h3>servant of jehovah</h3>
    </hgroup>

    <nav>
		<ul>
			<li id="current"><a href="/">Blog</a><span></span></li>
			<li><a href="#">关于</a><span></span></li>
		</ul>
	</nav>

   <form id="quick-search" method="get" action="http://www.google.com/search">
      <fieldset class="search">
         <label for="qsearch">Search:</label>
         <input class="tbox" id="qsearch" type="text" name="q" value="Search..." onfocus="this.value=''" title="Start typing and hit ENTER" />
         <button class="btn" name="btnG"title="Submit Search">Search</button>
      </fieldset>
   </form>

<!--/header-->
</header></div>
	
<!-- content-wrap -->
<div id="content-wrap">

    <!-- content -->
    <div id="content" class="clearfix">

   	    <!-- main -->
        {% block content %}
        {% endblock %}
        <!-- /main -->


        <!-- sidebar -->
		<div id="sidebar">

      	    <div class="about-me">

         	    <h3>About Me</h3>

                <p>
{#		        <a href="#"><img src="{{ STATIC_URL }}images/me.jpg" data-lightbox="me" width="42" height="42" alt="firefox" class="align-left" /></a>#}
                <a href="{{ STATIC_URL }}images/me.jpg" data-lightbox="me" title="me"><img src="{{ STATIC_URL }}images/me.jpg" width="42" height="42" alt="firefox" class="align-left" /></a>
                Obadiah 来自《圣经》旧约中的先知书《俄巴底亚书》，译为耶和华的仆人。我用这个名字也意味着愿意上帝成为我的主人，做我生命中的救主。
			    </p>

            </div>

			<div class="sidemenu">

				<h3>博客分类</h3>

                <ul>
                    {% for classify in classify_list %}
			        <li>
                        <a href="{% url 'index' %}?classfy_id={{ classify.id }}" title={{ classify.title }}>{{ classify.title }}</a>&nbsp;&nbsp;&nbsp;({{ classify.blogarticle_set.count  }})
	                </li>
                    {% endfor %}
				</ul>

			</div>

            <div class="sidemenu popular">

				<h3>阅读排行</h3>
				<ul>
                    {% for rank in rank_list %}
                        <li><a href="{% url 'article-detail' pk=rank.id %}">{{ rank.title }}</a></li>
                    {% endfor %}
				</ul>

			</div>

        <!-- /sidebar -->
		</div>

    <!-- content -->
	</div>

<!-- /content-out -->
</div>

<!-- footer -->
<footer>

	<p class="footer-left">
	</p>

	<p class="footer-right">
        <a href="#top" class="back-to-top">Back to Top</a>
    </p>

<!-- /footer -->
</footer>

</body>
{% block js %}
{% endblock %}
</html>
