{% load comments %}
{% if user.is_authenticated %}
    {% get_comment_form for object as blog_form %}
        <form>
            {% csrf_token %}
            {{ blog_form.object_pk }}
            {{ blog_form.content_type }}
            {{ blog_form.timestamp }}
            {{ blog_form.site }}
            {{ blog_form.submit_date }}
            {{ blog_form.security_hash }}
          <div class="form_settings">
            <p class="comment"><span>用户名</span><input id="id_name" maxlength="50" name="name" type="text" readonly value="{{ user.username }}"></p>
            <p class="comment"><span>邮箱</span><input id="id_email" name="email" type="text" value="{{ user.email }}" readonly ></p>
            <p class="txt"><span>内容</span>{{ blog_form.comment }}<span id="comment_error" class="error" style="display: none;">我擦， 说点啥呗 ...</span><span class="clears"></span></p>
            <p style="padding-top: 15px;padding-bottom: 15px;"><span>&nbsp;</span><input class="submit" type="button" value="发表" id="submit"/></p>
          </div>
          <input type="hidden" name="next" value="{% url 'article-detail' object.pk %}" />
        </form>
    </div>
{% else %}
    请<a id="page_login" style="cursor: pointer;">登录</a>，或<a href={% url "register" %}>注册</a>后再评论
{% endif %}